$colors: (
   common: (
      white: #ffffff,
      black: #000000,
   ),
   heading: (
      primary: #373a3f,
   ),
   text: (
      body: #696969,
   ),
   theme: (
      primary: #0d57d7,
      secondary: #4d8eff,
      bg: #dbe8ff,
      bg-2: #2b2e32,
   ),
   grey: (
      2: #f1f6ff,
      3: #444445,
      4: #ffc131,
      5: #0000000f,
      6: #f4f4f4,
      7: #f9fbff,
   ),
   border: (
      primary-1: #bfbfbf80,
      1: #d8dde1,
   ),
);
